.datepicker--cell-day.-other-month-,
.datepicker--cell-year.-other-decade-{
    color: #dedede;
}
.datepicker--cell-day.-other-month-:hover,
.datepicker--cell-year.-other-decade-:hover{
    color: #c5c5c5;
}
.-disabled-.-focus-.datepicker--cell-day.-other-month-,
.-disabled-.-focus-.datepicker--cell-year.-other-decade-{
    color: #dedede;
}
.-selected-.datepicker--cell-day.-other-month-,
.-selected-.datepicker--cell-year.-other-decade-{
    color: #fff;

    background: #a2ddf6;
}
.-selected-.-focus-.datepicker--cell-day.-other-month-,
.-selected-.-focus-.datepicker--cell-year.-other-decade-{
    background: #8ad5f4;
}
.-in-range-.datepicker--cell-day.-other-month-,
.-in-range-.datepicker--cell-year.-other-decade-{
    color: #ccc;

    background-color: rgba(92, 196, 239, .1);
}
.-in-range-.-focus-.datepicker--cell-day.-other-month-,
.-in-range-.-focus-.datepicker--cell-year.-other-decade-{
    background-color: rgba(92, 196, 239, .2);
}
.datepicker--cell-day.-other-month-:empty,
.datepicker--cell-year.-other-decade-:empty{
    border: none;
    background: none;
}

/* -------------------------------------------------
    Datepicker cells
   ------------------------------------------------- */
.datepicker--cells{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    background: #df8200;

    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

.datepicker--cell{
    position: relative;
    z-index: 1;

    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    padding: 10px 0;

    color: #fff;
    font: 14px/31px CoreSansGS;

    cursor: pointer;

    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
}
.datepicker--cell.-focus-,
.datepicker--cell.-selected-{
    color: #995300;
    font-weight: 500;
}

.datepicker--cell.-focus-:before,
.datepicker--cell.-selected-:before{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;

    display: block;

    width: 31px;
    height: 31px;

    margin-top: -16px;
    margin-left: -16px;

    border-radius: 50%;
    background: #fff;

    content: '';
}

.datepicker--cell.-in-range-{
    color: #4a4a4a;

    border-radius: 0;
    background: rgba(92, 196, 239, .1);
}
.datepicker--cell.-in-range-.-focus-{
    background-color: rgba(92, 196, 239, .2);
}
.datepicker--cell.-disabled-{
    color: #aeaeae;

    cursor: default;
}
.datepicker--cell.-disabled-.-focus-{
    color: #aeaeae;
}
.datepicker--cell.-disabled-.-in-range-{
    color: #a1a1a1;
}
.datepicker--cell.-disabled-.-current-.-focus-{
    color: #aeaeae;
}
.datepicker--cell.-range-from-{
    border: 1px solid rgba(92, 196, 239, .5);
    border-radius: 4px 0 0 4px;
    background-color: rgba(92, 196, 239, .1);
}
.datepicker--cell.-range-to-{
    border: 1px solid rgba(92, 196, 239, .5);
    border-radius: 0 4px 4px 0;
    background-color: rgba(92, 196, 239, .1);
}
.datepicker--cell.-range-from-.-range-to-{
    border-radius: 4px;
}

.datepicker--cell:empty{
    cursor: default;
}

.datepicker--days-names{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    padding: 0 30px;

    background: #ec8e00;
    box-shadow: 0 0 21px rgba(12,51,92,.14);

    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

.datepicker--day-name{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    color: #fff;
    font: 500 13px/42px CoreSansGS;

    text-align: center;

    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.datepicker--cell-day{
    width: 14.28571%;
}

.datepicker--cells-months{
    height: 170px;
}

.datepicker--cell-month{
    width: 33.33%;
    height: 25%;
}

.datepicker--years{
    height: 170px;
}

.datepicker--cells-years{
    height: 170px;
}

.datepicker--cell-year{
    width: 25%;
    height: 33.33%;
}

.datepicker--cell-day.-other-month-,
.datepicker--cell-year.-other-decade-{
    color: #dedede;
}
.datepicker--cell-day.-other-month-:hover,
.datepicker--cell-year.-other-decade-:hover{
    color: #c5c5c5;
}
.-disabled-.-focus-.datepicker--cell-day.-other-month-,
.-disabled-.-focus-.datepicker--cell-year.-other-decade-{
    color: #dedede;
}
.-selected-.datepicker--cell-day.-other-month-,
.-selected-.datepicker--cell-year.-other-decade-{
    color: #fff;

    background: #a2ddf6;
}
.-selected-.-focus-.datepicker--cell-day.-other-month-,
.-selected-.-focus-.datepicker--cell-year.-other-decade-{
    background: #8ad5f4;
}
.-in-range-.datepicker--cell-day.-other-month-,
.-in-range-.datepicker--cell-year.-other-decade-{
    color: #ccc;

    background-color: rgba(92, 196, 239, .1);
}
.-in-range-.-focus-.datepicker--cell-day.-other-month-,
.-in-range-.-focus-.datepicker--cell-year.-other-decade-{
    background-color: rgba(92, 196, 239, .2);
}
.datepicker--cell-day.-other-month-:empty,
.datepicker--cell-year.-other-decade-:empty{
    border: none;
    background: none;
}

/* -------------------------------------------------
    Datepicker
   ------------------------------------------------- */
.datepickers-container{
    position: absolute;
    top: 0;
    left: 0;
}
@media print{
    .datepickers-container{
        display: none;
    }
}

.datepicker{
    position: absolute;
    left: -100000px;
    z-index: 100;

    width: 100%;

    opacity: 0;

    transition: opacity .3s ease, left 0s .3s, -webkit-transform .3s ease;
    transition: opacity .3s ease, transform .3s ease, left 0s .3s;
    transition: opacity .3s ease, transform .3s ease, left 0s .3s, -webkit-transform .3s ease;
}
.datepicker.-from-top-{
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
}
.datepicker.-from-right-{
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
}
.datepicker.-from-bottom-{
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
}
.datepicker.-from-left-{
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
}
.datepicker.active{
    opacity: 1;

    transition: opacity .3s ease, left 0s 0s, -webkit-transform .3s ease;
    transition: opacity .3s ease, transform .3s ease, left 0s 0s;
    transition: opacity .3s ease, transform .3s ease, left 0s 0s, -webkit-transform .3s ease;
    -webkit-transform: translate(0);
            transform: translate(0);
}

.datepicker-inline .datepicker{
    position: static;
    right: auto;
    left: auto;

    opacity: 1;
    border: none;
    box-shadow: none;
    box-shadow: 0 0 21px rgba(12,51,92,.1);

    -webkit-transform: none;
            transform: none;
}

.datepicker-inline .datepicker--pointer{
    display: none;
}

.-only-timepicker- .datepicker--content{
    display: none;
}

.datepicker--pointer{
    position: absolute;
    z-index: -1;

    width: 10px;
    height: 10px;

    border-top: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    background: #fff;
}
.-top-left- .datepicker--pointer,
.-top-center- .datepicker--pointer,
.-top-right- .datepicker--pointer{
    top: calc(100% - 4px);

    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
}
.-right-top- .datepicker--pointer,
.-right-center- .datepicker--pointer,
.-right-bottom- .datepicker--pointer{
    right: calc(100% - 4px);

    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
}
.-bottom-left- .datepicker--pointer,
.-bottom-center- .datepicker--pointer,
.-bottom-right- .datepicker--pointer{
    bottom: calc(100% - 4px);

    -webkit-transform: rotate(315deg);
            transform: rotate(315deg);
}
.-left-top- .datepicker--pointer,
.-left-center- .datepicker--pointer,
.-left-bottom- .datepicker--pointer{
    left: calc(100% - 4px);

    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}
.-top-left- .datepicker--pointer,
.-bottom-left- .datepicker--pointer{
    left: 10px;
}
.-top-right- .datepicker--pointer,
.-bottom-right- .datepicker--pointer{
    right: 10px;
}
.-top-center- .datepicker--pointer,
.-bottom-center- .datepicker--pointer{
    left: calc(50% - 10px / 2);
}
.-left-top- .datepicker--pointer,
.-right-top- .datepicker--pointer{
    top: 10px;
}
.-left-bottom- .datepicker--pointer,
.-right-bottom- .datepicker--pointer{
    bottom: 10px;
}
.-left-center- .datepicker--pointer,
.-right-center- .datepicker--pointer{
    top: calc(50% - 10px / 2);
}

.datepicker--body{
    display: none;
}
.datepicker--body.active{
    display: block;
}

.datepicker--cell-day.-other-month-,
.datepicker--cell-year.-other-decade-{
    color: #dedede;
}
.datepicker--cell-day.-other-month-:hover,
.datepicker--cell-year.-other-decade-:hover{
    color: #c5c5c5;
}
.-disabled-.-focus-.datepicker--cell-day.-other-month-,
.-disabled-.-focus-.datepicker--cell-year.-other-decade-{
    color: #dedede;
}
.-selected-.datepicker--cell-day.-other-month-,
.-selected-.datepicker--cell-year.-other-decade-{
    color: #fff;

    background: #a2ddf6;
}
.-selected-.-focus-.datepicker--cell-day.-other-month-,
.-selected-.-focus-.datepicker--cell-year.-other-decade-{
    background: #8ad5f4;
}
.-in-range-.datepicker--cell-day.-other-month-,
.-in-range-.datepicker--cell-year.-other-decade-{
    color: #ccc;

    background-color: rgba(92, 196, 239, .1);
}
.-in-range-.-focus-.datepicker--cell-day.-other-month-,
.-in-range-.-focus-.datepicker--cell-year.-other-decade-{
    background-color: rgba(92, 196, 239, .2);
}
.datepicker--cell-day.-other-month-:empty,
.datepicker--cell-year.-other-decade-:empty{
    border: none;
    background: none;
}

/* -------------------------------------------------
    Navigation
   ------------------------------------------------- */
.datepicker--nav{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    padding: 0 30px;

    background: #b46100;

    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
}
.-only-timepicker- .datepicker--nav{
    display: none;
}

.datepicker--nav-title,
.datepicker--nav-action{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    cursor: pointer;

    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
}

.datepicker--nav-action{
    width: 16px;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.datepicker--nav-action .prev{
    width: 16px;
    height: 48px;

    background: url(../images/ic_calendar_prev.png) 50% 50% no-repeat;
}

.datepicker--nav-action .next{
    width: 16px;
    height: 48px;

    background: url(../images/ic_calendar_next.png) 50% 50% no-repeat;
}

.datepicker--nav-action.-disabled-{
    visibility: hidden;
}


.datepicker--nav-title{
    color: #fff;
    font: 14px CoreSansGS;

    letter-spacing: .04em;
}

.datepicker--nav-title.-disabled-{
    background: none;

    cursor: default;
}

.datepicker--buttons{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    padding: 4px;

    border-top: 1px solid #efefef;
}

.datepicker--button{
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display:         inline-flex;

    height: 32px;

    color: #4eb5e6;

    border-radius: 4px;

    cursor: pointer;

    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.datepicker--button:hover{
    color: #4a4a4a;

    background: #f0f0f0;
}

.datepicker--cell-day.-other-month-,
.datepicker--cell-year.-other-decade-{
    color: #dedede;
}
.datepicker--cell-day.-other-month-:hover,
.datepicker--cell-year.-other-decade-:hover{
    color: #c5c5c5;
}
.-disabled-.-focus-.datepicker--cell-day.-other-month-,
.-disabled-.-focus-.datepicker--cell-year.-other-decade-{
    color: #dedede;
}
.-selected-.datepicker--cell-day.-other-month-,
.-selected-.datepicker--cell-year.-other-decade-{
    color: #fff;

    background: #a2ddf6;
}
.-selected-.-focus-.datepicker--cell-day.-other-month-,
.-selected-.-focus-.datepicker--cell-year.-other-decade-{
    background: #8ad5f4;
}
.-in-range-.datepicker--cell-day.-other-month-,
.-in-range-.datepicker--cell-year.-other-decade-{
    color: #ccc;

    background-color: rgba(92, 196, 239, .1);
}
.-in-range-.-focus-.datepicker--cell-day.-other-month-,
.-in-range-.-focus-.datepicker--cell-year.-other-decade-{
    background-color: rgba(92, 196, 239, .2);
}
.datepicker--cell-day.-other-month-:empty,
.datepicker--cell-year.-other-decade-:empty{
    border: none;
    background: none;
}

/* -------------------------------------------------
    Timepicker
   ------------------------------------------------- */
.datepicker--time{
    position: relative;

    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    padding: 4px;

    border-top: 1px solid #efefef;

    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.datepicker--time.-am-pm- .datepicker--time-sliders{
    max-width: 138px;

    -webkit-flex: 0 1 138px;
        -ms-flex: 0 1 138px;
            flex: 0 1 138px;
}
.-only-timepicker- .datepicker--time{
    border-top: none;
}

.datepicker--time-sliders{
    max-width: 153px;

    margin-right: 10px;

    -webkit-flex: 0 1 153px;
        -ms-flex: 0 1 153px;
            flex: 0 1 153px;
}

.datepicker--time-label{
    display: none;

    font-size: 12px;
}

.datepicker--time-current{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    margin: 0 0 0 10px;

    font-size: 14px;

    text-align: center;

    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.datepicker--time-current-colon{
    margin: 0 2px 3px;

    line-height: 1;
}

.datepicker--time-current-hours,
.datepicker--time-current-minutes{
    position: relative;
    z-index: 1;

    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 19px;
    line-height: 1;
}
.datepicker--time-current-hours:after,
.datepicker--time-current-minutes:after{
    position: absolute;
    top: -3px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    z-index: -1;

    opacity: 0;
    border-radius: 4px;
    background: #f0f0f0;

    content: '';
}
.datepicker--time-current-hours.-focus-:after,
.datepicker--time-current-minutes.-focus-:after{
    opacity: 1;
}

.datepicker--time-current-ampm{
    margin-bottom: 1px;
    margin-left: 6px;

    color: #9c9c9c;
    font-size: 11px;

    text-transform: uppercase;

    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
            align-self: flex-end;
}

.datepicker--time-row{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    height: 17px;

    font-size: 11px;

    background: linear-gradient(to right, #dedede, #dedede) left 50%/100% 1px no-repeat;

    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.datepicker--time-row:first-child{
    margin-bottom: 4px;
}
.datepicker--time-row input[type='range']{
    height: 100%;

    margin: 0;
    padding: 0;

    background: none;

    cursor: pointer;

    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-appearance: none;
}
.datepicker--time-row input[type='range']::-webkit-slider-thumb{
    -webkit-appearance: none;
}
.datepicker--time-row input[type='range']::-ms-tooltip{
    display: none;
}
.datepicker--time-row input[type='range']:hover::-webkit-slider-thumb{
    border-color: #b8b8b8;
}
.datepicker--time-row input[type='range']:hover::-moz-range-thumb{
    border-color: #b8b8b8;
}
.datepicker--time-row input[type='range']:hover::-ms-thumb{
    border-color: #b8b8b8;
}
.datepicker--time-row input[type='range']:focus{
    outline: none;
}
.datepicker--time-row input[type='range']:focus::-webkit-slider-thumb{
    border-color: #5cc4ef;
    background: #5cc4ef;
}
.datepicker--time-row input[type='range']:focus::-moz-range-thumb{
    border-color: #5cc4ef;
    background: #5cc4ef;
}
.datepicker--time-row input[type='range']:focus::-ms-thumb{
    border-color: #5cc4ef;
    background: #5cc4ef;
}
.datepicker--time-row input[type='range']::-webkit-slider-thumb{
    width: 12px;
    height: 12px;

    box-sizing: border-box;

    border: 1px solid #dedede;
    border-radius: 3px;
    background: #fff;

    cursor: pointer;
    transition: background .2s;
}
.datepicker--time-row input[type='range']::-moz-range-thumb{
    width: 12px;
    height: 12px;

    box-sizing: border-box;

    border: 1px solid #dedede;
    border-radius: 3px;
    background: #fff;

    cursor: pointer;
    transition: background .2s;
}
.datepicker--time-row input[type='range']::-ms-thumb{
    width: 12px;
    height: 12px;

    box-sizing: border-box;

    border: 1px solid #dedede;
    border-radius: 3px;
    background: #fff;

    cursor: pointer;
    transition: background .2s;
}
.datepicker--time-row input[type='range']::-webkit-slider-thumb{
    margin-top: -6px;
}
.datepicker--time-row input[type='range']::-webkit-slider-runnable-track{
    height: 1px;

    color: transparent;

    border: none;
    background: transparent;

    cursor: pointer;
}
.datepicker--time-row input[type='range']::-moz-range-track{
    height: 1px;

    color: transparent;

    border: none;
    background: transparent;

    cursor: pointer;
}
.datepicker--time-row input[type='range']::-ms-track{
    height: 1px;

    color: transparent;

    border: none;
    background: transparent;

    cursor: pointer;
}
.datepicker--time-row input[type='range']::-ms-fill-lower{
    background: transparent;
}
.datepicker--time-row input[type='range']::-ms-fill-upper{
    background: transparent;
}
.datepicker--time-row span{
    padding: 0 12px;
}

.datepicker--time-icon{
    position: relative;

    width: 1em;
    height: 1em;

    margin: 0 5px -1px 0;

    color: #9c9c9c;
    font-size: 16px;

    border: 1px solid;
    border-radius: 50%;
}
.datepicker--time-icon:after,
.datepicker--time-icon:before{
    position: absolute;

    background: currentColor;

    content: '';
}
.datepicker--time-icon:after{
    top: calc(50% + 1px);
    left: calc(50% - 1px);

    width: 1px;
    height: .4em;

    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
}
.datepicker--time-icon:before{
    top: calc(50% + 1px);
    left: calc(50% - 1px);

    width: .4em;
    height: 1px;
}

.datepicker--cell-day.-other-month-,
.datepicker--cell-year.-other-decade-{
    color: #fff;

    opacity: .2;
}

.datepicker--cell-day.-other-month-.-current-,
.datepicker--cell-year.-other-decade-.-current-{
    color: #fff;
}

.datepicker--cell-day.-other-month-:hover,
.datepicker--cell-year.-other-decade-:hover{
    color: #a2b2c2;

    background: none;
}
.-disabled-.-focus-.datepicker--cell-day.-other-month-,
.-disabled-.-focus-.datepicker--cell-year.-other-decade-{
    color: #a2b2c2;
}
.-selected-.datepicker--cell-day.-other-month-,
.-selected-.datepicker--cell-year.-other-decade-{
    color: #fff;

    background: #a2ddf6;
}
.-selected-.-focus-.datepicker--cell-day.-other-month-,
.-selected-.-focus-.datepicker--cell-year.-other-decade-{
    background: #8ad5f4;
}
.-in-range-.datepicker--cell-day.-other-month-,
.-in-range-.datepicker--cell-year.-other-decade-{
    color: #ccc;

    background-color: rgba(92, 196, 239, .1);
}
.-in-range-.-focus-.datepicker--cell-day.-other-month-,
.-in-range-.-focus-.datepicker--cell-year.-other-decade-{
    background-color: rgba(92, 196, 239, .2);
}
.datepicker--cell-day.-other-month-:empty,
.datepicker--cell-year.-other-decade-:empty{
    border: none;
    background: none;
}
